@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: black; */
}

@media screen and (max-width: 940px) {
  h1{
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 495px) {
  h1{
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}